extends layout

block content
  .row.d-flex.justify-content-center
    .col-sm-6
      h1.my-3= title
      hr

      form(action='' method='POST')
        .form-group
          label(for='firstname') First name
          input#firstname.form-control(type='text' name='firstname' placeholder='Enter first name' value=(user ? user.firstname: '') required)
          if errors
            each error in errors
              if error.param === 'firstname'
                .small.text-danger= error.msg

        .form-group
          label(for='lastname') Last name
          input#lastname.form-control(type='text' name='lastname' placeholder='Enter last name' value=(user ? user.lastname: '') required)
          if errors
            each error in errors
              if error.param === 'lastname'
                .small.text-danger= error.msg

        .form-group
          label(for='username') Username
          input#username.form-control(type='text' name='username' placeholder='Enter username' value=(user ? user.username: '') required)
          if errors
            each error in errors
              if error.param === 'username'
                .small.text-danger= error.msg
        
        .form-group
          .label(for='password') Password
          input#password.form-control(type='password' name='password' placeholder='Password' required)
          if errors
            each error in errors
              if error.param === 'password'
                .small.text-danger= error.msg

        .form-group
          .label(for='confirmpassword') Confirm password
          input#confirmpassword.form-control(type='password' name='confirmpassword' placeholder='Confirm password' required)
          if errors
            each error in errors
              if error.param === 'confirmpassword'
                .small.text-danger= error.msg
          

        button.btn.btn-primary(type='submit') Submit